#nav-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav-left{
  display: flex;
  align-items: center;

}
#nav-right{
  display: flex;
  align-items: center;
}
#navbar-btn-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-btn:hover{
  cursor: pointer;
}